name: Expressions

on: [push, release]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Trim version from Tag
        id: trim
        run: echo "::set-output name=version::${TAG:1}"
        env: ${{ github.event_name }}

      - name: Test different expressions
        run: echo "${concat}"
        env:
          version: ${{ steps.trim.outputs.version }}
          concat: chart.js-${{ github.event_name }}.tgz
